{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


 {% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/default/accueil.css') }}">
 {% endblock %}


{% block body %}


    <div class="affichageSlider">
        <div class="slider" id="slider">
            <div class="slides">
                {% set firstSlide = 1 %}
                {% for sponsor in sponsors %}
                    {% if firstSlide == true %}
                        <div class="slide" id="firstSlide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                        {% set firstSlide = 0 %}
                    {% else %}
                        <div class="slide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="navigation-manual">
                <div class="dispositionBtnCarousel">
                    <div class="manual-btn selected" id="auto-btn0"></div>
                    <div class="manual-btn notSelected" id="auto-btn1"></div>
                    <div class="manual-btn notSelected" id="auto-btn2"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let count = 0;
        let countBefore = 2;

        function carousel(){
            document.getElementById("firstSlide").style.marginLeft = "-" + (count * 25) + "%";
            document.getElementById("auto-btn" + count).classList.add("selected")
            document.getElementById("auto-btn" + count).classList.remove("notSelected")
            document.getElementById("auto-btn" + countBefore).classList.add("notSelected")
            document.getElementById("auto-btn" + countBefore).classList.remove("selected")
            countBefore = count;
            count++;
            if(count > 2 ) count = 0;

        }

        function updateInterval(radio){
            clearInterval(move);
            count = radio;
            move = setInterval(carousel, 5000);
        }

        carousel();
        let move = setInterval(carousel, 5000);

    </script>






{% endblock %}
