{% extends 'base.html.twig' %}

{% block title %}
     Football Club Pradéen Site Officiel
    {{ parent() }}
{% endblock %}


 {% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/default/accueil.css') }}">
 {% endblock %}


{% block body %}

    <div class="modal modal-sheet position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-6 shadow">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p>This is a modal sheet, a variation of the modal that docs itself to the bottom of the viewport like the newer share sheets in iOS.</p>
                </div>
                <div class="modal-footer flex-column border-top-0">
                    <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
                    <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="accueilTitre">
        <div class="flexOne">
            <div>
                <h1>Football Club Pradéen</h1>
            </div>
        </div>
        <div class="flexOne">
            <img src="{{ asset('img/logo/logo-fcp.png') }}" alt="" width="200" height="200">
        </div>
    </div>




    <style>
        .slide{
            width: {{ 100 / (sponsors | length) }}%;
        }
    </style>
    <div class="affichageSlider">
        <div class="slider" id="slider">
            <div class="slides" style="width: {{ sponsors | length * 100 }}%">
                {% set firstSlide = 1 %}
                {% for sponsor in sponsors %}
                    {% if firstSlide == true %}
                        <div class="slide" id="firstSlide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                        {% set firstSlide = 0 %}
                    {% else %}
                        <div class="slide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {# <div class="navigation-manual">
                <div class="dispositionBtnCarousel">
                    <div class="manual-btn" id="auto-btn0"> < </div>
                    <div class="manual-btn" id="auto-btn1"> > </div>
                </div>
            </div> #}
        </div>
    </div>
    <script type="text/javascript">
        let count = 0;
        let time = 6000

        function carousel(){
            document.getElementById("firstSlide").style.marginLeft = "-" + (count * {{ 100 / (sponsors | length) }}) + "%";
            count++;
            if(count > {{ (sponsors | length) - 1 }} ) count = 0;
        }

        /*document.getElementById("auto-btn0").addEventListener("click", function (){
            updateInterval(count - 1);
        })

        document.getElementById("auto-btn1").addEventListener("click", function (){
            updateInterval(count + 1);
        })*/

        function updateInterval(radio){
            clearInterval(move);
            if(radio < 0){
              count = {{ (sponsors | length) - 1 }};
            } else if(radio > {{ (sponsors | length) - 1 }}){
                count = 0;
            }else {
                count = radio;
            }
            move = setInterval(carousel, time);
        }

        carousel();
        let move = setInterval(carousel, time);

    </script>






{% endblock %}
