{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


 {% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/default/accueil.css') }}">
 {% endblock %}


{% block body %}

    <style>
        .slide{
            width: {{ 100 / (sponsors | length) }}%;
        }
    </style>
    <div class="affichageSlider">
        <div class="slider" id="slider">
            <div class="slides" style="width: {{ sponsors | length * 100 }}%">
                {% set firstSlide = 1 %}
                {% for sponsor in sponsors %}
                    {% if firstSlide == true %}
                        <div class="slide" id="firstSlide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                        {% set firstSlide = 0 %}
                    {% else %}
                        <div class="slide">
                            <a href="{{ sponsor.url }}">
                                <img src="/sponsor/{{ sponsor.lienImg }}" alt="" title="">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {# <div class="navigation-manual">
                <div class="dispositionBtnCarousel">
                    <div class="manual-btn" id="auto-btn0"> < </div>
                    <div class="manual-btn" id="auto-btn1"> > </div>
                </div>
            </div> #}
        </div>
    </div>
    <script type="text/javascript">
        let count = 0;
        let time = 6000

        function carousel(){
            document.getElementById("firstSlide").style.marginLeft = "-" + (count * {{ 100 / (sponsors | length) }}) + "%";
            count++;
            if(count > {{ (sponsors | length) - 1 }} ) count = 0;
        }

        /*document.getElementById("auto-btn0").addEventListener("click", function (){
            updateInterval(count - 1);
        })

        document.getElementById("auto-btn1").addEventListener("click", function (){
            updateInterval(count + 1);
        })*/

        function updateInterval(radio){
            clearInterval(move);
            if(radio < 0){
              count = {{ (sponsors | length) - 1 }};
            } else if(radio > {{ (sponsors | length) - 1 }}){
                count = 0;
            }else {
                count = radio;
            }
            move = setInterval(carousel, time);
        }

        carousel();
        let move = setInterval(carousel, time);

    </script>






{% endblock %}
